@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
	background-color: #eeeeee;
}

body {
	font-family: 'Arial';
	padding: 20px;
	margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    width: 17cm;
    min-height: 21cm;
    padding: 1cm 2cm 2cm;
    margin: 0.5cm auto;
    border: 1px #D3D3D3 solid;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
}

h2 {
	margin-bottom: 0.25em;
    border-bottom: 1px solid #a2a9b1;
}

img {
	padding: 5px;
	
}

#editor4 img {
	max-height: 184px;
}