@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700');

p {
  padding: 10px;
}

h2 {
  margin-bottom: 18px;
}

header {
  padding: 154px 0 100px;
    background-image: url('../images/hero-bg.png');
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: center bottom;
}

header .container {
  z-index: 1;
  position: relative;
  text-align: center;
}

header .inner-container h1 {
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  max-width: 970px;
  font-size: 72px;
  color: #4a4a4a;
  letter-spacing: -1px;
  text-align: center;
  line-height: 74px;
  margin: 0 auto 20px;
}

header .inner-container p {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  font-size: 20px;
  color: #4a4a4a;
  text-align: center;
  margin: 0 auto;
}

header .inner-container .button-container .btn {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  margin: 6px;
  color: white;
  display: inline-block;
  min-width: 158px;
  height: 45px;
  line-height: 45px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  padding: 0 25px;
  text-align: center;
}

header .btn-candy {
  background-color: #1976d2;
}

header .btn-poetic {
  background-color: #3ed0a6;
}

header .btn-candy:hover {
    background-color: #1d6abe;
}

.bg-dark {
  background-color: #6c757d!important;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 100px 0;
}

section#inline {
  padding: 50px 0 100px 0;
}

#editor2 {
  padding: 20px 0;
}

#editor4 img {
  max-height: 185px;
}
